* {
  box-sizing: border-box;
}

html, body {
 margin: 0;
 padding: 0;
 font-family: 'Quicksand', sans-serif;
}

a {
  text-decoration: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


/* GRID LAYOUT */

.outer-grid {
  display: grid;
  grid-template-columns: 75px  1fr  1fr 1fr;
  grid-template-rows: 75px repeat(6, 1fr);
  grid-template-areas:
  "header header header header"
  "leftnav innergrid innergrid innergrid"
  "leftnav innergrid innergrid innergrid"
  "leftnav innergrid innergrid innergrid"
  "leftnav innergrid innergrid innergrid"
  "leftnav innergrid innergrid innergrid"
  "leftnav innergrid innergrid innergrid";
}

.header {
  grid-area: header;
  background-color: #002642;
  display: flex;
  justify-content: space-between;
}

.left-nav {
  grid-area: leftnav;
  background-color: #173953;
}

.inner-grid {
  grid-area: innergrid;
}


/* HEADER */

h1 {
  padding-left: 1em;
  color: white;
  font-weight: bold;
}

span{
  font-weight: lighter;
  opacity: .7;
}

#avatarimg {
  display: block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-left: 1em;
  margin-right: .5em;
  border: 1px solid black;
}

.bell-icon {
  width: 40px;
  border-right: 1px solid grey;
  padding-right: 1em;
  transition: transform 1s linear;
}

.bell-icon:hover {
  transform: scale(1.1);
}

.avatarinfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 1em;
}

.avatarinfo p {
  color: white;
  font-weight: lighter;
  font-size: .9em;
  opacity: .8;
}


/* LEFT NAV  */

.left-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1em;

}
.dash-icon {
  padding-top: 2em;
  border-radius: 5px;
  width: 55%;
}

.members-icon {
  padding-top: 2em;
  opacity: .7;
  width: 55%;
}

.visit-icon {
  padding-top: 2em;
  width: 55%;
  opacity: .7;
}

.settings-icon {
  padding-top: 2em;
  width: 55%;
  opacity: .7;
}


/* INNER GRID  */

.inner-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 75px 100px repeat(3, minmax(200px, 1fr));
x
}

#dashboardh2{
  padding-left: 1em;
}

.search {
  display: flex;
  justify-content: flex-end;
  grid-column: 3 / 3;
  margin-top: 1em;
  margin-right: 1.1em;
}

.search input {
  height: 3em;
  text-indent: 0.938em;
  width: 40%;
  transition: width .7s linear;
  border: 1px solid grey;
  border-radius: 5px;
}

.search input:focus {
  width: 45%;
  border: 2px solid #173953;
}

.search .fa-search {
  position: absolute;
  top: 99px;
  right: 25px;
}

.alert {
  grid-column: 1 / 4;
  grid-row: 2;
  display: flex;
  justify-content: space-between;
  height: 40%;
  margin-left: 1.5em;
  margin-right: 1em;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: #173953;
}


#alert-text {
  margin-left: 1em;
  align-self: center;
  color: white;
}

#closeAlert {
  align-self: center;
  color: white;
  padding-right: 1em;
  margin-top: .5em;

}


.traffic {
  grid-column: 1 / 4;
  grid-row: 3;
}

.traffic-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 2.5em;
}

.traffic-info p {
  font-size: .9em;
  padding-left: 2em;
  color: grey;
}

#traffic-left {
  font-size: 1em;
  margin-right: auto;
  margin-left: 2em;
  color: grey;
}

#myChart{
  border: 1px solid black;
}


.chart-container{

  margin-left: 2em;
}



/* ======================= */


.left-col h2 {
  margin-left: 2em;
}

.left-col {
  margin-left: 1em;
  position: relative;
  grid-column: 1 / 1;
}

#bar-chart {
  margin-left: 2em;
  border: 1px solid black;
}


.right-col h2 {
  margin-left: 3em;
}

.right-col {
  grid-column: 3 / 3;
  margin-left: 3em;
  margin-right: 2em;
}

#pie-chart{
  margin-bottom: 1em;
  border: 1px solid black;
}





/* ==========Widgets========== */


.facebook, .twitter, .google {
  border: 1px solid black;
  width: 300px;
  height: 100px;
  margin-top: 2em;
}

.social-id {
  margin-left: 2em;
  grid-column: 1 / 1;
  grid-row: 5 / 5;
  margin-bottom: 2em;
}

.widget {
  margin-top: 3em;
  grid-column: 1 / 4;
  grid-row: 5 / 5;
  display: flex;
  justify-content: space-between;
}


.twitter {
  display: flex;
  margin-left: 2em;
  position:relative
}

.facebook {
  display: flex;
}

.google {
  display: flex;
  margin-right: 2em;
}






.twitter-icon {
  width: 60px;
  height: auto;
  border: 1px solid black;
  border-radius: 50%;
  background-color: black;
  align-self: center;
  margin-left: 20px;
}

.facebook-icon {
  width: 60px;
  height: auto;
  border: 1px solid black;
  border-radius: 50%;
  background-color: black;
  align-self: center;
  margin-left: 20px;
}

.google-icon{
  width: 60px;
  height: auto;
  border: 1px solid black;
  border-radius: 50%;
  background-color: black;
  align-self: center;
  margin-left: 20px;
}

.twitter p {
  font-size: 1.5em;
  margin: 0;
  text-align: center;
  align-self: center;
  padding-left: 30px;
}
